{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container" id="repositories">
        <div class="search pull-left">
            <input class="search" placeholder="search" autofocus>
        </div>
        <div class="repo-sum pull-left" style="margin: 10px;color: #d7d7d7">
            {{ repositories|length }}
        </div>
    <div class="clearfix"></div>

    <div class="list">
        {% for repository in repositories %}
            {% if repository.type is defined %}
                {% if repository.type=="GitHub" is defined %}
                    <div class="repository github">
                        <div class="repository-header">
                            <i class="fa fa-github-square"></i> <a target="_blank" href="{{repository.path}}"><span class="name">{{ repository.name }}</span></a>
                        </div>
                        <div class="repository-body">
                            {% if repository.description %}
                                <p>{{ repository.description }}</p>
                            {% else %}
                                <p>There is no repository description file. Please, create one to remove this message.</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="repository">
                    <div class="repository-header">
                        <i class="fa fa-git-square"></i> <a href="{{ path('repository', {repo: repository.name}) }}"><span class="name">{{ repository.name }}</span></a>
                        <a href="{{ path('rss', {repo: repository.name, branch: 'master'}) }}"><i class="rss pull-right"></i></a>
                    </div>
                    <div class="repository-body">
                        {% if repository.description %}
                            <p>{{ repository.description }}</p>
                        {% else %}
                            <p>There is no repository description file. Please, create one to remove this message.</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <hr />

    {% include 'footer.twig' %}
</div>
{% endblock %}
